<div class="site-header-fixed-spacer"></div>
<header class="site-header">
  <div class="wrapper">
    <div class="site-logo">
      <a class="site-title" href="https://keeptruckin.com"><img src="{{ site.baseurl }}/images/logo.png" srcset="{{ site.baseurl }}/images/logo@2x.png 2x" alt=""></a>
      <a class="site-title site-title-api" href="{{ site.baseurl }}/"> API Documentation </a>
    </div>

    <nav class="site-nav">
      <div class="trigger">
        <a class="page-link btn btn-transparent" href="https://keeptruckin.com/log-in"> Log In </a>
        <a class="page-link btn btn-default" href="https://keeptruckin.com/sign-up"> Sign Up Free </a>
      </div>
    </nav>
  </div>
</header>
