<div id="scroller-anchor"></div>
{% if page.url contains 'overview' %}
<aside class="site-sidebar">
{% else %}
<aside class="site-sidebar-fixed" id="site-sidebar">
{% endif %}
  <ul class="sidebar-menu sidebar-menu-introduction">
    <li class="sidebar-header">INTRODUCTION</li>
    {% for node in site.pages %}
      {% if node.categories contains 'introduction' %}
        {% if page.url == node.url %}
          <li class="active">
            <a href="{{ node.url | prepend: site.baseurl }}">{{ node.title }}</a>
            {% if node.categories contains 'getting-started' %}
              <ul class="sidebar-menu sidebar-menu-introduction">
                <li class="active"><a href="#authentication">Authentication</a></li>
                <li><a href="#time-zone">Time Zone</a></li>
                <li><a href="#response-codes">Response Codes</a></li>
                <li><a href="#api-call">Test out an API call</a></li>
              </ul>
            {% endif %}
          </li>
        {% else %}
          <li><a href="{{ node.url | prepend: site.baseurl }}">{{ node.title }}</a></li>
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>

  <ul class="sidebar-menu sidebar-menu-end-points">
    <li class="sidebar-header">END POINTS</li>
    {% for node in site.pages %}
      {% if node.categories contains 'endpoint' %}
        {% if page.url == node.url %}
          <li class="active"><a href="{{ node.url | prepend: site.baseurl }}">{{ node.title }}</a></li>
        {% else %}
          <li><a href="{{ node.url | prepend: site.baseurl }}">{{ node.title }}</a></li>
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>
</aside>