/**
 * Site header
 */
.site-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 1rem 0;
    min-height: 70px;
    background-color: $header-footer-bg;
    border-bottom: 1px solid darken($header-footer-bg, 5%);
    z-index: 1030;

    @at-root #{&}-fixed-spacer { min-height: 70px; }
}

.site-title {
    margin-bottom: 0;
    float: left;

    @at-root #{&}-api {
        float: left;
        margin-top: 3px;
        margin-left: 20px;
        font-size: 1.125rem;
        font-weight: 300;
        color: #ececec;

        &,
        &:visited,
        &:hover {
            text-decoration: none;
            color: #ececec;
        }
    }
}

.site-nav {
    float: right;

    .menu-icon { display: none; }

    .page-link {
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) { margin-right: 20px; }
    }
}

/**
 * Site footer
 */
.site-footer {
    padding: 100px 0;
    background-color: $header-footer-bg;
    border-top: 1px solid $gray-light;

    .site-footer-menu {
        margin: 0;
        padding: 0;
        list-style: none;

        .menu-item {
            display: inline-block;
            font-size: 0.875rem;
            line-height: 2;
            color: $gray-base;

            &.menu-item-last { margin-bottom: 20px; }

            &:hover { color: #ffffff; }
        }

        .nav-icons {
            position: relative;
            float: left;
            width: 40px;
            height: 40px;
            text-align: center;
            border: 1px solid $gray-base;
            border-radius: 100%;

            + .nav-icons { margin-left: 10px; }

            &:hover {
                .fa { fill: #ffffff; }

                &.fc-facebook {
                    background-color: #3b5998;
                    border-color: #3b5998;
                }

                &.fc-google-plus {
                    background-color: #dd4b39;
                    border-color: #dd4b39;
                }

                &.fc-twitter {
                    background-color: #55acee;
                    border-color: #55acee;
                }

                &.fc-linkedin {
                    background-color: #0976b4;
                    border-color: #0976b4;
                }
            }

            svg {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: auto;
            }
        }
    }
}

@media screen and ( min-height: 1140px ){
    .site-footer-overview {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}

.footer-heading {
  margin: 0;
  margin-bottom: 15px;
  font-size: 1.125rem;
  font-weight: 300;
  color: #ffffff;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $gray-base;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-4 { width: 25%; }

.copyright {
    margin: 40px 0;
    padding-top: 40px;
    font-size: 14px;
    font-style: italic;
    text-align: center;
    font-weight: 300;
    color: $gray-base;
    border-top: 1px solid rgba($gray-base,0.14);
}

.footer-logo { text-align: center; }

/**
 * Sidebar
 */
.site-sidebar {
    float: left;
    width: 200px;
    z-index: 1;

    @at-root #{&}-fixed {
        float: left;
        top: 130px;
        width: 200px;
        z-index: 1;
        -webkit-transition: top 0.2s ease-out;
                transition: top 0.2s ease-out;
    }
}

.sidebar-menu {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    list-style: none;

    .sidebar-header {
        display: block;
        margin-bottom: 6px;
        font-size: 0.875rem;
        font-weight: $base-font-weight;
        text-transform: uppercase;
        color: #aaaaaa;
    }

    li {
        > a {
          display: block;
          padding: 3px 0;
          clear: both;
          font-size: 1rem;
          font-weight: $base-font-weight;
          line-height: 1.928571;
          color: $gray-light;
          white-space: nowrap;
        }

        ul {
            display: none;
            margin-bottom: 0;
            padding-left: 15px;
        }
    }

    li:hover > a,
    li.active > a { color: $brand-color; }

    li.active ul { display: block; }

    &.sidebar-menu-platform {
        margin-bottom: 40px;

        .sidebar-header { margin-bottom: 10px; }
    }
}

/**
 * Page content
 */
.site-content {
    float: right;
    width: 75%;
}

.page-content {
    padding: ($spacing-unit + 50) 0;
    min-height: 518px;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    margin-top: 30px;
    font-size: $small-font-size;
    font-weight: 300;
    line-height: 1.6;
    color: $gray-base;
}

.post-link {
    display: block;
    font-size: 24px;
}

/**
 * Posts
 */
.post {
    padding: 40px;
    background-color: #ffffff;
    border: 1px solid #eaeaea;

    + .post { margin-top: 40px; }
}
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 1;
    color: $gray-dark;
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 { font-size: 32px; }

    h3 { font-size: 26px; }

    h4 {
        font-size: 20px;
        color: $gray-dark;
    }

    p {
        font-size: 0.875rem;
        font-weight: 300;
        line-height: 1.8;
        color: $gray-base;

        + p { margin-top: 20px; }
    }

    /**
     * Markdown overrides
     */
    .highlight { margin: 10px 0 20px; }

    table {
        margin-top: 20px;
        margin-bottom: 30px;
        width: 100%;
        text-align: center;
        background-color: #f8f8f8;
        border: 1px solid #eaeaea;
        border-spacing: 0;
        border-collapse: separate;
        border-radius: 3px;
        table-layout: fixed;

        thead tr {
            font-size: 0.875rem;
            color: $gray-base;
            text-transform: uppercase;
            background: #f4f4f4;
            border-radius: 3px 3px 0 0;

            th {
                padding: 10px 5px;
                font-weight: $base-font-weight;
                border-bottom: 1px solid #eaeaea;

                &:not(:first-child) { border-left: 1px solid #eaeaea; }
            }
        }

        tr td {
            padding: 10px 5px;
            font-size: 0.875rem;
            font-weight: 300;
            color: $gray-light;

            &:not(:first-child) { border-left: 1px solid #eaeaea; }
        }
    }

    h5 {
        margin-top: 20px;
        font-size: 16px;
        font-weight: 500;
        color: $gray-dark;
    }

    h6 {
        margin-top: 15px;
        font-size: 0.875rem;
        font-weight: 500;
        color: $gray-light;
    }

    a {
        color: $brand-color;
        font-weight: $base-font-weight;
        text-decoration: underline;

        &:hover { color: darken($brand-color, 5%); }
    }

    ul {
        padding-left: 20px;
        font-size: 0.875rem;
        font-weight: 300;
        line-height: 1.8;
        color: $gray-base;
    }
}

/**
 * Button
 */
.btn {
    display: inline-block;
    padding: 6px 26px;
    margin-bottom: 0;
    font-size: 0.875rem;
    font-weight: normal;
    line-height: 1.42857143;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
      touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: 0;
}

.btn-default {
    color: #ffffff;
    background-color: #5287bf;
    border-color: #4b7cb0;
}

.btn-default:focus,
.btn-default.focus {
    color: #ffffff;
    background-color: #477fbb;
    border-color: #5287bf;
}

.btn-default:hover,
.btn-default:active,
.btn-default.active {
    color: #ffffff;
    background-color: #3c6ea2;
}

.btn-transparent,
.btn-transparent:focus,
.btn-transparent.focus,
.btn-transparent:hover,
.btn-transparent:active,
.btn-transparent.active {
    padding: 6px 0;
    color: #ececec;
    background-color: transparent;
    border-color: transparent;
}

.btn-transparent:hover { color: #ffffff; }

.btn-white {
    color: $gray-base;
    background-color: #ffffff;
    border-color: #e4e4e5;
}

.btn-white:focus,
.btn-white.focus,
.btn-white:hover,
.btn-white:active,
.btn-white.active {
    color: $gray-light;
    border-color: #cacacc;
}
