/**
 * Site header
 */
.site-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 1rem 0;
    min-height: 70px;
    background-color: $header-footer-bg;
    border-bottom: 1px solid darken($header-footer-bg, 5%);
    z-index: 1030;

    @at-root #{&}-fixed-spacer {
        min-height: 70px;

        @media (max-width: 630px) { min-height: 122px; }

        @media (max-width: 420px) { min-height: 160px; }
    }

    @media (max-width: 630px) { text-align: center; }
}

.site-logo {
    display: block;
    margin-bottom: 20px;
    @media (min-width: 630px) {
        float: left;
        margin-bottom: 0;
    }
}

.site-title {
    margin-bottom: 0;

    @media (min-width: 630px) { float: left; }

    @at-root #{&}-api {
        margin-top: 3px;
        margin-left: 20px;
        font-size: 1.125rem;
        font-weight: 300;
        color: #ffffff;

        &:visited,
        &:hover {
            text-decoration: none;
            color: #ececec;
        }

        @media (min-width: 630px) { float: left; }

        @media (max-width: 420px) {
            margin: 10px 0 0;
            display: block;
        }
    }
}

.site-nav {
    float: right;

    .menu-icon { display: none; }

    .page-link {
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) { margin-right: 20px; }
    }

    @media (max-width: 630px) { float: none; }
}

/**
 * Site footer
 */

.site-footer {
    padding: 50px 0;
    line-height: 26px;

    @media (max-width: 630px) { text-align: center; }

    .got-question {
        font-size: 0.875rem;
        font-weight: 500;
        color: $gray-dark;

        @media (min-width: 630px) { float: left; }
    }

    .contact-us {
        display: inline-block;
        @media (min-width: 630px) { float: right; }
    }

    .contact-us,
    .footer-link {
        font-size: 0.875rem;
        font-weight: 300;
        color: $gray-light;
    }

    .separator {
        display: inline-block;
        margin: 0 15px;
        width: 1px;
        height: 26px;
        background: #ebebeb;
    }
}

/**
 * Sidebar
 */
.site-sidebar {
    float: left;
    width: $sidebar-width;
    z-index: 1;

    @media (max-width: $breakpoint) { display: none; }

    @at-root #{&}-fixed {
        position: fixed;
        top: 70px;
        padding-top: 39px;
        padding-right: 20px;
        float: left;
        width: $sidebar-width;
        height: calc(100% - 70px);
        overflow: hidden;
        overflow-y: scroll;

        @media (max-width: $breakpoint) { display: none; }
    }
}

.sidebar-menu {
    margin: 0;
    margin-bottom: 18px;
    padding: 0;
    list-style: none;

    .sidebar-header {
        display: block;
        margin-bottom: 7px;
        font-size: 0.875rem;
        font-weight: $base-font-weight;
        text-transform: uppercase;
        color: #aaaaaa;
    }

    li {
        > a {
          display: block;
          padding: 3px 0;
          clear: both;
          font-size: 1rem;
          font-weight: $base-font-weight;
          line-height: 1.928571;
          color: $gray-light;
        }

        ul {
            display: none;
            margin-bottom: 0;
            padding-left: 40px;

            li > a { font-size: 0.875rem; }
        }
    }

    li:hover > a,
    li.active > a { color: $brand-color; }

    li.open ul { display: block; }

    &.sidebar-menu-platform {
        margin-bottom: 40px;

        .sidebar-header { margin-bottom: 10px; }
    }
}

/**
 * Page content
 */
.site-content {
    float: right;
    width: 75%;

    @media (max-width: $breakpoint) { width: 100%; }
}

.page-content {
    padding-top: 48px;
    min-height: 518px;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    margin-top: 30px;
    font-size: $small-font-size;
    font-weight: 300;
    line-height: 1.6;
    color: $gray-base;
}

.post-link {
    display: block;
    font-size: 24px;
}

/**
 * Posts
 */
.post {
    padding: 72px 40px;
    background-color: #ffffff;
    border: 1px solid #eeeeee;
    border-radius: 5px;

    + .post { margin-top: 48px; }
}
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    margin-bottom: 20px;
    font-size: 1.5rem;
    line-height: 3rem;
    color: $gray-dark;
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 { font-size: 32px; }

    h3 { font-size: 26px; }

    h4 {
        font-size: 20px;
        color: $gray-dark;
    }

    p {
        font-size: 0.875rem;
        font-weight: 300;
        line-height: 24px;
        color: $gray-base;

        + p { margin-top: 20px; }
    }

    /**
     * Markdown overrides
     */
    .highlight {
        margin: 20px 0 20px;
        padding: 20px;
        background-color: #f8f8f8;
        border: 1px solid #eeeeee;
        border-radius: 5px;

        code {
            font-size: 0.875rem;
            font-weight: 300;
            line-height: 24px;
            color: $gray-light;
        }
    }

    table {
        margin-top: 20px;
        margin-bottom: 30px;
        width: 100%;
        text-align: center;
        background-color: #f4f4f4;
        border: 1px solid #eeeeee;
        border-spacing: 0;
        border-collapse: separate;
        border-radius: 3px;
        table-layout: fixed;

        thead tr {
            font-size: 0.875rem;
            color: $gray-base;
            text-transform: uppercase;
            background: #f4f4f4;
            border-radius: 3px 3px 0 0;

            th {
                padding: 10px 5px;
                font-weight: $base-font-weight;
                border-bottom: 1px solid #eeeeee;

                &:not(:first-child) { border-left: 1px solid #eeeeee; }
            }
        }

        tr td {
            padding: 10px 5px;
            font-size: 0.875rem;
            font-weight: 300;
            color: $gray-light;
            background-color: #f8f8f8;

            &:not(:first-child) { border-left: 1px solid #eeeeee; }
        }
    }

    h5 {
        margin-top: 20px;
        font-size: 1rem;
        font-weight: 500;
        line-height: 36px;
        color: $gray-dark;
    }

    h6 {
        margin-top: 15px;
        font-size: 0.875rem;
        font-weight: 500;
        line-height: 24px;
        color: $gray-light;
    }

    a {
        color: $brand-color;
        font-weight: $base-font-weight;
        text-decoration: underline;

        &:hover { color: darken($brand-color, 5%); }
    }

    ul {
        padding-left: 20px;
        font-size: 0.875rem;
        font-weight: 300;
        line-height: 1.8;
        word-wrap: break-word;
        color: $gray-base;
    }
}

/**
 * Button
 */
.btn {
    display: inline-block;
    padding: 6px 26px;
    margin-bottom: 0;
    font-size: 0.875rem;
    font-weight: normal;
    line-height: 1.42857143;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
      touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: 0;
}

.btn-default {
    color: #ffffff;
    background-color: #5287bf;
    border-color: #4b7cb0;
}

.btn-default:focus,
.btn-default.focus {
    color: #ffffff;
    background-color: #477fbb;
    border-color: #5287bf;
}

.btn-default:hover,
.btn-default:active,
.btn-default.active {
    color: #ffffff;
    background-color: #3c6ea2;
}

.btn-transparent,
.btn-transparent:focus,
.btn-transparent.focus,
.btn-transparent:hover,
.btn-transparent:active,
.btn-transparent.active {
    padding: 6px 0;
    color: #ececec;
    background-color: transparent;
    border-color: transparent;
}

.btn-transparent:hover { color: #ffffff; }

.btn-white {
    color: $gray-base;
    background-color: #ffffff;
    border-color: #e4e4e5;
}

.btn-white:focus,
.btn-white.focus,
.btn-white:hover,
.btn-white:active,
.btn-white.active {
    color: $gray-light;
    border-color: #cacacc;
}

/**
 * Utility classes
 */
.pull-left { float: left; }

.pull-right{ float: right; }
